.lmn{
    text-align: center;
}
body {
    background: rgba(0, 128, 0, 0.3)
}
p {
    border: 2px solid powderblue;
    padding: 30px;
  }
  table, tr, td {
    border: 1px solid black;
  }  

.abc{
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
  }
  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}

.coding{
    width: 25%;
    float: left;
    margin-right: 30px;
}
.cricket{
     width: 25%;
    float: left;
    margin-right: 30px;
}
.guitar{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.xyz{
    text-align:center;
}

.crl{
    margin-left:600px ;
    
}
.tutorial-heading{
 
    color:red;
    margin-left:520px
}
.tutorial-list{
    margin-left: 600px;
    margin-top: 20px;
}
.tutorial-list li a:hover{
    color:blueviolet;
}
.tutorial-list li a{
    text-decoration: none;
}
.bzs{
    margin-left: 670px;
    text-decoration: none;
}